fastapi
uvicorn[standard]
tensorflow
numpy
pandas
scikit-learn
joblib
shap
python-dotenv
apscheduler
pydantic
websockets
prometheus-client
prometheus-fastapi-instrumentator
python-multipart
imbalanced-learn
seaborn
matplotlib
psutil
supabase
postgrest
openpyxl
pyarrow
fastparquet